<div class="bg-black relative w-auto h-auto">
    <div class="flex mx-auto space-y-4 w-1/2 items-center">
        <img class="w-48 h-48 pt-18 mx-auto rounded-full" src="/assets/victor.jpeg" alt="" width="384" height="512">
        <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
            <figcaption class="font-medium">
                <div class="text-white font-sans text-4xl font-bold text-left">
                    Victor Santos
                </div>
            </figcaption>
            <blockquote>
                <p class="text-white font-sans text-1xl text-justify">
                    Olá sou o Victor, sou de Belo Horizonte em Minas Gerais, tenho 30 anos, sou formado em Sistemas de
                    Informação pela PUC Minas e atualmente
                    aluno do curso de especialização em Arquitetura de Soluções tambem pela PUC Minas. Este é um pequeno
                    projeto para ter um contato inicial com o framework do Angular.
                </p>
            </blockquote>
        </div>
    </div>
</div>