<div class="bg-black relative w-auto h-auto">
    <nav class="flex justify-center space-x-4 pt-6">
        <a
            class="text-white bg-white font-b px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-500 hover:text-slate-50">Blog</a>
        <a
            class="text-white bg-white font-b px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-500 hover:text-slate-50">Sobre</a>
        <a
            class="text-white bg-white font-b px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-500 hover:text-slate-50">Descrição</a>
    </nav>
</div>