<div class="mx-auto w-1/3 space-y-2 items-center text-left pt-6">
    <div class="text-black font-sans text-5xl font-bold ">
        Ultimas do blog
    </div>

    <app-post [Title]="TitlePost" [ColorTitle]="ColorTitleFirstPost" [Description]="DescriptionPost"></app-post>
    <app-post [Title]="TitlePost" [Description]="DescriptionPost"></app-post>
    <app-post [Title]="TitlePost" [Description]="DescriptionPost"></app-post>

    <div class="pt-6 font-bold">
        <a href="/more"> Ver mais...</a>
    </div>

</div>